@layer component {
  .layout {
    --text-shadow-default: var(--ts-offset-x, 0) var(--ts-offset-y, 0) var(--theme-text-blur, 0)
      oklch(from var(--accent-color, currentColor) l c h);
    --animation-duration: 0.1s;

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header header'
      'content content'
      'nav nav';
    gap: var(--gap);
    width: 100vw;
    height: 100dvh;
    padding: var(--gap);
    text-shadow: var(--text-shadow-default);
    color: var(--color-default);
    background-color: transparent;
    transition: text-shadow var(--animation-duration);
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      z-index: -1;
      display: block;
      width: calc(var(--glow-size) * var(--unit));
      height: calc(var(--glow-size) * var(--unit));
      border-radius: 50%;
      place-self: center;
      transition:
        transform calc(var(--animation-duration) + 0s) ease-in,
        box-shadow calc(var(--animation-duration) + 0.5s) ease-out calc(var(--animation-duration) / 2),
        width calc(var(--animation-duration) + 0.5s) ease-out calc(var(--animation-duration)),
        height calc(var(--animation-duration) + 0.5s) ease-out calc(var(--animation-duration)),
        background-color var(--animation-duration);
      transform-origin: center;
      transform: rotate(calc(var(--glow-angle) * 1deg));
      box-shadow:
        inset calc(var(--glow-offset-x) * var(--unit, 1%)) calc(var(--glow-offset-y) * var(--unit, 1%))
          calc(var(--glow-spread) * var(--unit, 1%))
          oklch(from var(--accent-color) var(--glow-l, l) var(--glow-c, c) var(--glow-h, h)),
        calc(var(--glow-offset-x) * var(--unit, 1%)) calc(var(--glow-offset-y) * var(--unit, 1%))
          calc(var(--glow-spread) * var(--unit, 1%))
          oklch(from var(--accent-color) var(--glow-l, l) var(--glow-c, c) var(--glow-h, h));

      @media (orientation: portrait) {
        --unit: 1lvw;
        --glow-size: 60;
      }

      @media (orientation: landscape) {
        --unit: 1lvh;
        --glow-size: 50;
      }
    }
  }

  .logo {
    &,
    & > * {
      grid-area: logo;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }

  .content,
  .page-title {
    background-color: var(--bg-contrast-high);
  }

  .page-title {
    position: relative;
    z-index: 2;
    display: grid;
    flex: 0 1 auto;
    padding: calc(var(--gap) / 2) calc(var(--gap) * 2);
    font-size: 1.25rem;
    font-weight: 500;
    place-content: end;
    border-radius: var(--border-radius);

    /* border-radius: 0 0 var(--border-radius) var(--border-radius); */

    /* border-radius: calc(var(--gap) * 10) var(--gap) 0 calc(var(--gap) * 10); */

    &::after {
      position: absolute;
      bottom: calc(var(--gap) * -1);
      width: 100%;
      height: calc(var(--gap) * 2);
      background: #fff;
      background-color: inherit;
    }
  }

  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    gap: var(--gap);
  }

  .content {
    grid-area: content;
    border-radius: var(--border-radius, 0);
    overflow: hidden;
  }
}

@layer variation {
  .layout-nav {
    font-size: 0.8rem;
    .nav-list {
      grid-template-rows: repeat(3, 1fr);
      gap: calc(var(--gap) / 2);
    }

    .nav-item {
      &:first-child,
      &:last-child {
        grid-column: span 3;

        .nav-action {
          padding: calc(var(--gap) / 4);
        }
      }

      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
