@layer component {
  .icon {
    display: inline-grid;
    place-content: center;
    overflow: hidden;
  }

  .icon-svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: inherit;
  }
}
