@layer components {
  .recipe,
  .recipe-section {
    display: grid;
    gap: var(--gap);
  }

  .recipe {
    align-self: start;
  }

  .recipe-title {
    display: flex;
    justify-content: space-between;
    column-gap: var(--gap);
  }

  .recipe-section {
    --glow-spread: 1;

    padding: var(--gap);
    background-color: var(--bg-contrast-low);
    border-radius: calc(var(--border-radius) / 3);
  }

  /* .recipe-list {
  }

  .recipe-list--ingredients {

  } */

  .recipe-list-term {
    font-weight: 600;
  }

  .recipe-list-description {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: calc(var(--gap) / 2);
    font-style: italic;
    font-weight: 500;
  }

  .recipe-mutiplilier {
    display: inline-grid;
    grid-template-columns: min-content auto min-content;
    gap: calc(var(--gap) / 2);
    flex: 0 1 auto;
    padding-inline: calc(var(--gap) / 2);
    font-size: 0.6rem;
    place-content: center;
    place-items: center;

    & > span {
      grid-row: 2;
    }

    .input,
    .input-button {
      place-self: center;
    }

    .input {
      width: calc(var(--w) * 1em);
      height: 1em;
      padding: 0.5em;
      line-height: 1;
      text-align: center;
      background-color: var(--bg-contrast-high);
      border-radius: var(--border-radius);
      box-sizing: content-box;
    }
  }
}
