@layer components {
  .recipe-method {
    display: grid;
    gap: calc(var(--gap) / 2);

    .timer {
      background-color: var(--bg-contrast-high);
      border-radius: var(--border-radius);
    }
  }
}
