@layer theme {
  @layer light, dark, userchrome;

  @layer theme.light {
    :root {
      --theme-color: #222;
      --theme-bg-color: oklch(from var(--theme-color) calc(l + 0.8) c h);
      --accent-color: var(--color);
      --accent-lightness: 80%;
      --theme-bg-lightness: 70%;
      --theme-text-blur: 1px;
      --bg-lightness-shift: -0.1;
    }
  }

  @media (prefers-color-scheme: dark) {
    @layer theme.dark {
      :root {
        --theme-color: #fcfcfc;
        --alpha: 1;
        --theme-text-blur: 4px;
        --theme-bg-color: oklch(from var(--theme-color) calc(l - 0.8) c h);
        --theme-bg-lightness: 30%;
        --accent-color: var(--color);
        --accent-lightness: 20%;
        --bg-lightness-shift: 0.1;
      }
    }
  }

  /* @layer theme.userchrome {
  } */
}
