@layer theme {
  @layer light, dark, userchrome;

  @layer theme.light {
    :root {
      --color: #222;
      --bg-color: #ccc;
      --accent-color: #222;
      --accent-lightness: 80%;
      --bg-lightness: 50%;
      --text-blur: 1px;
    }
  }

  @media (prefers-color-scheme: dark) {
    @layer theme.dark {
      :root {
        --color: #fcfcfc;
        --alpha: 1;
        --text-blur: 4px;
        --bg-color: #111;
        --bg-lightness: 30%;
        --accent-color: #fff;
        --accent-lightness: 20%;
      }
    }
  }

  /* @layer theme.userchrome {
  } */
}
