@layer base {
  :root {
    --font-family: 'Rubik', sans-serif;
    --gap: 8px;
    --color-default: oklch(from var(--theme-color) var(--l, l) var(--c, c) var(--h, h) / var(--a, 1));
    --ts-color-default: currentcolor;
    --background-body: linear-gradient(
      oklch(from var(--theme-bg-color) var(--theme-bg-lightness, l) c h),
      oklch(from var(--theme-bg-color) l c h),
      oklch(from var(--theme-bg-color) var(--theme-bg-lightness, l) c h)
    );
    --border-radius: calc(var(--gap) * 3);
    --bg: oklch(from var(--theme-bg-color) l c h);
    --bg-contrast-low: oklch(from var(--theme-bg-color) calc(l + var(--bg-lightness-shift)) 0 0);
    --bg-contrast-high: oklch(from var(--theme-bg-color) calc(l - var(--bg-lightness-shift)) 0 0);
  }
}
